@model Quimipac_.Models.MT_GrupoTrabajo

@{
    /**/

    Layout = null;

    var listaCampamentos = ViewBag.listaCampamentos;
    var listaBodegas = ViewBag.listaBodegas;
    var listaTipoGrupoTrabajo = ViewBag.listaTipoGrupoTrabajo;
    var listaVehiculos = ViewBag.listaVehiculos;

    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "FormAgregarMantGrupoTrabajo");
    attributes.Add("autocomplete", "off");

}
<link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">
<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">

@*Pinta contorno txt Obligatorio*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css">
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/bootstrapValidator.min.css">

@*@using (Html.BeginForm("Agregar_MantTipoTrabajo", "Mantenimiento", FormMethod.Post, attributes))*@
@using (Html.BeginForm("Agregar_MantGrupoTrabajo", "Mantenimiento", new { @id = string.Empty }, FormMethod.Post, new { @id = "modal1" }))
{
    @Html.AntiForgeryToken()

    <link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">
    <link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">

    <div class="form-horizontal">

        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label text-success">*&nbsp;Nombre Grupo:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control is-valid", @type = "text", @required = "required", @id = "txtObligatorio" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-bold col-md-2 control-label">Campamento:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Campamento, (SelectList)listaCampamentos, new { @class = "form-control select2", @style = "width: 100%", @id = "comboCampamento" })
                @Html.ValidationMessageFor(model => model.Id_Campamento, "", new { @class = "text-danger" })
            </div>
        </div>
        @*combox normal cliente
            <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Cliente:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Cliente, (SelectList)listaClientes, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Cliente, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label for="status" class="text-bold col-md-2 control-label">Bodega:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Bodega, (SelectList)listaBodegas, new { @class = "form-control select2", @style = "width: 100%" })
                @Html.ValidationMessageFor(model => model.Bodega, "", new { @class = "text-danger" })
            </div>
        </div>

        @* combox Normal Linea
        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Linea:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Linea, (SelectList)listaLineas, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Linea, "", new { @class = "text-danger" })
            </div>
        </div>*@





        @*<div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Tipo:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tipo, (SelectList)listaTipoGrupoTrabajo, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label for="status" class="text-bold col-md-2 control-label">Tipo Cuadrilla:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tipo, (SelectList)listaTipoGrupoTrabajo, new { @class = "form-control select2", @style = "width: 100%" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-bold col-md-2 control-label">Vehiculo:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Vehiculo, (SelectList)listaVehiculos, new { @class = "form-control select2", @style = "width: 100%", @id = "comboVehiculo_Camp" })
                @Html.ValidationMessageFor(model => model.Id_Vehiculo, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Estado:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Estado, new SelectList(new List<string>() { "Activo", "Inactivo" }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" value="Crear" class="btn btn-warning" />
        </div>
    </div>

}


@*@section scripts {*@

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>

<script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>

<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>

<!--VaLIDATOR txt-->
<script src="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/js/bootstrapValidator.min.js"></script>
<script src="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/js/es_ES.min.js"></script>


<script type="text/javascript">


    //$(document).ready(function () {
    //    $('#input').attr("autocomplete", "off");
    //})

    $(document).ready(function () {

        //$("input[type='text']").attr("autocomplete", "off");
        //$(".alert").fadeTo(2000, 500).slideUp(500, function () {
        //    $(".alert").slideUp(500);
        //});

        //$('.select2').select2();

        $('.select2').select2({
            dropdownParent: $('#modal1')
        });

        //DEFAUT CLIENTE
            var id_campamento = $('#comboCampamento').val();
            var urldefaut = '@Url.Action("GetVehiculo", "Mantenimiento", new { id = "param-id" })';
            urldefaut = urldefaut.replace("param-id", id_campamento);
            ejecutaAjax('comboVehiculo_Camp', urldefaut);




            $('#comboCampamento').on('change', function (event) {
                //alert("e");
                var url = '@Url.Action("GetVehiculo", "Mantenimiento", new { id = "param-id" })';
                url = url.replace("param-id", event.target.value);
                ejecutaAjax('comboVehiculo_Camp', url);
            });



    })

    $('#modal1').bootstrapValidator({
        //    message:"Este valor no es valido",
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }//,

        //fields: {
        //    txtObligatorio: {
        //             validators: {     Empty: { message: "El nombre de usuario es requerido" },
        //                 stringLength: {
        //                     min: 3,
        //                     max: 5,
        //                     message: "El nombre de usuario debe tener entre 6 y 30 caracteres de logitud"
        //                 }
        //             }
        //    }
        //}

    });

    function ejecutaAjax(id, url) {

            $.ajax({
                type: 'GET',
                url: url,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    //alert("");
                    $("#" + id).empty();
                    $.each(data, function (i, item) {

                        var seleccion = '';
                        if (i == 0) {

                            $("#" + id).append("<option value='" + data[i].Value + "' selected='selected'>" + data[i].Text + "</option>");
                        }
                        else {
                            $("#" + id).append("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");
                        }
                    });

                },
                error: function (data) {
                    window.location.href = '@Url.Action("Error","Errores")';
                    //window.location.href = '/Errores/Error';
                }

            });
        }


</script>

@* } *@


