
@model Quimipac_.Models.MT_GrupoTrabajoEquipo

@{
    Layout = null;

    var listaEquipos = ViewBag.listaEquipos;


    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "FormEditarEquipoMantGrupoTrabajo");
    attributes.Add("autocomplete", "off");

}

<link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">


@*@using (Html.BeginForm("Editar_EquipoMantGrupoTrabajo", "Mantenimiento", FormMethod.Post, attributes))*@
@using (Html.BeginForm("Editar_EquipoMantGrupoTrabajo", "Mantenimiento", new { @id = string.Empty }, FormMethod.Post, new { @id = "modal1" }))

{
    @Html.AntiForgeryToken()
    <link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id_GrupoTrabajoEquipo)
        @Html.HiddenFor(model => model.Id_GrupoTrabajo)
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Equipo:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_MT_Equipo, (SelectList)listaEquipos, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_MT_Equipo, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label for="status" class="text-bold col-md-2 control-label">Equipo:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Equipo, (SelectList)listaEquipos, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%" })
                @Html.ValidationMessageFor(model => model.Id_Equipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Estado:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Estado, new List<SelectListItem>() { new SelectListItem() { Value = "A", Text = "Activo", Selected = true }, new SelectListItem() { Value = "I", Text = "Inactivo", Selected = true } }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-warning" />
            </div>
        </div>
    </div>

}

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>

<script type="text/javascript">
    //INICIO COMBOX FILTRO
    $(document).ready(function () {        //$('.select2').select2();
        $('.select2').select2({
            dropdownParent: $('#modal1')
        });
    });//FIN COMBOX FILTRO


</script>


