@using Quimipac_.Models
@model Quimipac_.Models.MT_Equipo_Evento
@{
    /**/


    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var listaEventoEquipo = ViewBag.listaEventoEquipo as List<sp_Quimipac_ConsultaMt_EventoEquipo_Result>;
    var equipo = ViewBag.equipo;
}

<title>Fronter | Eventos de Equipos</title>


<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
@*@*BotonInf*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/cssImgInf/Iicono.css" />
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css" />

<!-- EstiloGeneral-->
<link rel="stylesheet" href="~/Content/bower_components/EstiloExterno/EstiloGral.css" />

<section class="content-header">
    @{

        int cadena = 0;
        <h2 style="text-align:left">


            @*@foreach (var eventoequipo in listaEventoEquipo)
            {
                if (cadena >= 0)
                {*@
                    <font id="itemTitulo">@Html.DisplayFor(model => equipo) </font>
                  
                    @*break;
                }

                else
                {
                    @cadena;
                }

            }*@
            / Eventos

        </h2>
    }

    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Default", "Main")">
                <i class="fa fa-link">
                </i>Home
            </a>
        </li>
        <li>
            <a href="@Url.Action("MantEquipoTrabajo", "Mantenimiento")">Mantenimiento Equipos</a>
          
        </li>
        <li class="breadcrumb-item active">Eventos de Equipos</li>
    </ol>
    <br>

    <div class="row">
        <div class="col-md-2">
            <button id="btnAgregarEventoEquipo" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalAgregarEventoEquipo">
                <span class="fa fa-plus-circle"></span>&nbsp;&nbsp; Agregar Evento
            </button>
        </div>

        <div class="vFlotante">
            @*hgroup style="display:inline-block;">*@
            <!--<img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="imgnotificacion">-->
            <table>
                <tr>
                    <td>
                        <input type="button" value="" class="btnInformacionBoton" id="botonimagen" data-toggle="modal" data-target="#modalNotificacion" title="click para informacion" />

                    </td>
                </tr>
            </table>

            @*</hgroup>*@
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["mensaje_error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["mensaje_error"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}

            @if (TempData["mensaje_correcto"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["mensaje_correcto"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}

            @if (TempData["mensaje_actualizado"] != null)
            {
                <div class="alert alert-warning">
                    <strong>@TempData["mensaje_actualizado"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default" id ="BordeDiv">
     
                @*<div class="box-header">
                        <h3 class="box-title">Eventos Equipos</h3>
                    </div>*@
                <div class="box-body" id="CssDivBox">
                    @{
                        if (listaEventoEquipo.Count != 0)
                        {
                            <div class="table-responsive">
                                <table id="tablaEventosEquipo" class="js-dynamitable table table-bordered">
                                    @*class="table table-bordered table-hover"*@
                                    <thead>
                                        <tr>


                                            <th>Acci&oacute;n</th>
                                            <th>Tipo Evento</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th>Valor</th>
                                            <th>Comentario</th>

                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Tipo Evento"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Fecha Inicio"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Fecha Fin"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Valor"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Comentario"></th>
                                            
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @{int cntFila = 0; string estilo = string.Empty; }
                                        @foreach (var eventoequipos in listaEventoEquipo)
                                        {
                                            if ((cntFila % 2) == 0)
                                            {
                                                estilo = "background-color:#f9f9f9";
                                            }
                                            else
                                            {
                                                estilo = "";
                                            }

                                            <tr style="@estilo">
                                                <td nowrap>
                                                    <button type="button" class="btn btnEditarBoton class_editar_EventoEquipo" title="Editar" style="text-align:center" data-toggle="modal" data-target="#modalEditarEventoEquipo" data-id="@eventoequipos.Id_Equipo_Evento">
                                                        @*<span aria-hidden="true" class="glyphicon glyphicon-edit">
                                                        </span>*@
                                                    </button>
                                                </td>
                                                <td nowrap>@Html.DisplayFor(model => eventoequipos.Tipo_Evento)</td>
                                                <td nowrap>@Html.DisplayFor(model => eventoequipos.Fecha_Ini)</td>
                                                <td nowrap>@Html.DisplayFor(model => eventoequipos.Fecha_Fin)</td>
                                                <td nowrap>@Html.DisplayFor(model => eventoequipos.Valor)</td>
                                                <td nowrap>@Html.DisplayFor(model => eventoequipos.Comentario)</td>


                                            </tr>
                                            cntFila++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                                            }

                    }

                </div>
            </div>
        </div>
    </div>
</section>


<div id="modalAgregarEventoEquipo" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
              
                <div class="modal-title">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"><font size="2"><span class="glyphicon glyphicon-plus"></span></font>&nbsp;Agregar Evento Equipo &nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Formulario de ingreso, recuerde que lo campos resaltados de color verde son obligatorios [*]" class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">

                <div id="modal-agregaEventoEquipo">
                </div>
            </div>

        </div>
    </div>
</div>

<!--div notificacion de ayuda -->
<div id="modalNotificacion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title col-md-12">

                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="text-bold">Notificacion- Items de Mantenimiento Tipo de Trabajo&nbsp;&nbsp; </h4>
                </div>

            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <h6>
                                <a href="#" title=" " class="tooltip_elemento center">
                                    <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png">
                                </a>
                            </h6>

                        </td>

                        <td>
                            <p><center> En esta Pagina se detallar&aacute; los Items del Mantneimiento de los Tipos de Trabajo</center></p>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
            </div>
        </div>

    </div>
</div>


<div id="modalEditarEventoEquipo" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                @*<h5 class="modal-title">Editar Item de Tipo Trabajo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@

                <div class="modal-title">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"><font size="3"><span class="fa fa-edit"></span></font>&nbsp;Editar Evento Equipo &nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Este Formulario le permitira Editar los campos que desee." class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div id="modal-editaEquipoEvento">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>

    <script src="~/Content/bower_components/FiltroDataTable/MantTipoTrabajo/Dynamitablevq/dynamitable.jquery.min.js"></script>

    <script src="~/Scripts/Modales.js"></script>

    <script type="text/javascript">

        modalAdd('#btnAgregarEventoEquipo', 'modal-agregaEventoEquipo', '@Url.Action("Agregar_EventoMantEquipoTrabajo", "Mantenimiento")');
        modalEdit('.class_editar_EventoEquipo', 'modal-editaEquipoEvento', '@Url.Action("Editar_EventoMantEquipoTrabajo", "Mantenimiento", new { id = "param-id" })');

        $(document).ready(function () {

            @*modalAdd('#btnAgregarEventoEquipo', 'modal-agregaEventoEquipo', '@Url.Action("Agregar_EventoMantEquipoTrabajo", "Mantenimiento")');
            modalEdit('.class_editar_EventoEquipo', 'modal-editaEquipoEvento', '@Url.Action("Editar_EventoMantEquipoTrabajo", "Mantenimiento", new { id = "param-id" })');*@


            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });

            //$('#tablaItemsTipoTrabajo').DataTable({
            //    'paging': true,
            //    'lengthChange': true,
            //    'searching': true,
            //    'ordering': false,
            //    'info': true,
            //    'autoWidth': false
            //})
            $.noConflict();
            $('#tablaEventosEquipo').DataTable({
                "language": {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "No Contiene registros",
                    "infoEmpty": "No hay registros disponibles",
                    "decimal": "",
                    "emptyTable": "No hay datos",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "infoFiltered": "(Filtro de _MAX_ total registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "  Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron coincidencias",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Atras"
                    },
                    "aria": {
                        "sortAscending": ": Activar orden de columna ascendente",
                        "sortDescending": ": Activar orden de columna desendente"
                    },
                },


                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': false
            });

        });

            // Mostrar informacion de pagina
            var i = 2;
            function insertHtml() {
                if (i % 2 == 0) { $("#htmlins").html("<h4>Estimado usuario</h4></hr><span>En esta pantalla administrara los items de un mantenimiento de trabajo</span><br>") }
                else {
                    $("#htmlins").html("")//remove();
                }//.html("<span>este codigo html fue insertado</span>") }

                i++;
            };
    </script>
}
