@using Quimipac_.Models
@model Quimipac_.Models.MT_Proyecto_Actividad_Integrante
@{

    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var listaProyectoActividadesIntegrantes = ViewBag.listaProyectoActividadesIntegrantes as List<sp_Quimipac_ConsultaMT_ProyectoActividadesIntegrantes_Result>;
    int idProyecto = ViewBag.idProyecto;
}

<title>Fronter | Integrantes Actividades Proyectos</title>


<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">

@*@*BotonInf*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/cssImgInf/Iicono.css" />
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css" />
<!-- EstiloGeneral-->
<link rel="stylesheet" href="~/Content/bower_components/EstiloExterno/EstiloGral.css" />
<section class="content-header">

    @{

        int cadena = 0;
        <h2 style="text-align:left">


            @foreach (var itemGrupoTrabajo2 in listaProyectoActividadesIntegrantes)
            {
                if (cadena >= 0)
                {
                    <font id="itemTitulo"> @Html.DisplayFor(model => itemGrupoTrabajo2.DescripcionActividad)</font>

                    break;
                }

                else
                {
                    @cadena;
                }

            }
            / Integrantes
        </h2>
    }


    <ol class="breadcrumb">
        <li><a href="@Url.Action("Default", "Main")"><i class="fa fa-link"></i>Home</a></li>
        <li><a href="@Url.Action("Proyectos", "Proyectos")">Gestión de proyectos</a></li>
        <li><a href="@Url.Action("Actividades_Proyecto", "Proyectos", new { id = idProyecto })">Actividades</a></li>
        <li class="active">Integrantes Actividad Proyectos</li>
    </ol>
    <br>

    <div class="row">
        <div class="col-md-2">
            <button id="btnAgregarIntegranteProyectoActividad" type="button" class="Crear_MTPR btn btn-warning" data-toggle="modal" data-target="#modalAgregarIntegranteProyectoActividad">
                <span class="fa fa-plus-circle"></span>&nbsp;&nbsp; Agregar Integrante de Actividad Proyecto
            </button>
        </div>

        <div class="vFlotante">
            @*hgroup style="display:inline-block;">*@
            <!--<img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="imgnotificacion">-->
            <table>
                <tr>
                    <td>
                        <input type="button" value="" class="btnInformacionBoton" id="botonimagen" data-toggle="modal" data-target="#modalNotificacion" title="click para informacion" />

                    </td>
                </tr>
            </table>

            @*</hgroup>*@
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["mensaje_error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["mensaje_error"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}

            @if (TempData["mensaje_correcto"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["mensaje_correcto"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}

            @if (TempData["mensaje_actualizado"] != null)
            {
                <div class="alert alert-warning">
                    <strong>@TempData["mensaje_actualizado"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default" id="BordeDiv">
                <div class="box-body" id="CssDivBox">
                    @{
                        if (listaProyectoActividadesIntegrantes.Count != 0)
                        {
                            <div class="table-responsive">
                                <table id="tablaIntegrantesProyectoActividad" class="js-dynamitable table table-bordered">
                                    @*class="table table-bordered table-hover"*@
                                    <thead>
                                        <tr>

                                            <th>Acci&oacute;n</th>
                                            <th>Actividad</th>
                                            <th>Nombre Persona</th>
                                            <th>Rol</th>
                                            <th>Estado</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>

                                        </tr>

                                        <tr>
                                            <th></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Actividad"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Persona"></th>
                                            <th>
                                                <select class="js-filter  form-control">
                                                    <option value=""></option>
                                                    <option value="Jefe">Jefe</option>
                                                    <option value="Integrante">Integrante</option>
                                                </select>
                                            </th>

                                            <th>
                                                <select class="js-filter  form-control">
                                                    <option value=""></option>
                                                    <option value="A">A</option>
                                                    <option value="I">I</option>
                                                </select>
                                            </th>

                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Fecha Inicio"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Fecha Fin"></th>

                                        </tr>

                                    </thead>
                                    <tbody>

                                        @{int cntFila = 0; string estilo = string.Empty; }
                                        @foreach (var integranteProyectoActividad in listaProyectoActividadesIntegrantes)
                                        {
                                            if ((cntFila % 2) == 0)
                                            {
                                                estilo = "background-color:#f9f9f9";
                                            }
                                            else
                                            {
                                                estilo = "";
                                            }

                                            <tr style="@estilo">
                                                <td nowrap>
                                                    <button type="button" class="Modificar_MTPR btn btnEditarBoton class_editar_IntegranteProyectoActividad" style="text-align:center" data-toggle="modal" data-target="#modalEditarIntegranteProyectoActividad" data-id="@integranteProyectoActividad.Id_Proyecto_Actividad_Integrante">
                                                        @*<span aria-hidden="true" class="glyphicon glyphicon-edit">
                                                        </span>*@
                                                    </button>
                                                </td>
                                                <td nowrap>@Html.DisplayFor(model => integranteProyectoActividad.DescripcionActividad)</td>
                                                <td nowrap>@Html.DisplayFor(model => integranteProyectoActividad.Nombre_Completo)</td>
                                                <td nowrap>@Html.DisplayFor(model => integranteProyectoActividad.Descripcion)</td>
                                                <td nowrap>@Html.DisplayFor(model => integranteProyectoActividad.Estado)</td>
                                                <td nowrap>@Html.DisplayFor(model => integranteProyectoActividad.Fecha_Ini)</td>
                                                <td nowrap>@Html.DisplayFor(model => integranteProyectoActividad.Fecha_Fin)</td>
                                                

                                            </tr>
                                            cntFila++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                                            }

                    }

                </div>
            </div>
        </div>
    </div>
</section>


<div id="modalAgregarIntegranteProyectoActividad" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"><font size="2"><span class="glyphicon glyphicon-plus"></span></font>&nbsp;Agregar Integrante de Actividad Proyecto &nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Este Formulario es para el Ingreso de Integrantes" class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">

                <div id="modal-agregaIntegranteProyectoActividad">
                </div>
            </div>

        </div>
    </div>
</div>
<!--div notificacion de ayuda -->
<div id="modalNotificacion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title col-md-12">

                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="text-bold">Notificacion-Integrantes de Actividades Proyecto&nbsp;&nbsp; </h4>
                </div>

            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <h6>
                                <a href="#" title=" " class="tooltip_elemento center">
                                    <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png">
                                </a>
                            </h6>

                        </td>

                        <td>
                            <p><center> En esta Pagina se detallar&aacute; los Integrantes de Actividades Proyecto</center></p>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
            </div>
        </div>

    </div>
</div>


<div id="modalEditarIntegranteProyectoActividad" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"><font size="3"><span class="fa fa-edit"></span></font>&nbsp;Ediar Integrante de Actividad Proyecto &nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Este Formulario le permitira Editar los campos que desee." class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div id="modal-editaIntegranteProyectoActividad">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>

    <script src="~/Content/bower_components/FiltroDataTable/MantTipoTrabajo/Dynamitablevq/dynamitable.jquery.min.js"></script>

    <script src="~/Scripts/Modales.js"></script>

    <!--ENG a SPA palabras-->
    @*<script src="~/Content/bower_components/FiltroDataTable/MantTipoTrabajo/js/TraduccionVQ.js"></script>*@


    <script type="text/javascript">

        modalAdd('#btnAgregarIntegranteProyectoActividad', 'modal-agregaIntegranteProyectoActividad', '@Url.Action("Agregar_ProyectoActividades_Integrante", "Proyectos")');
        modalEdit('.class_editar_IntegranteProyectoActividad', 'modal-editaIntegranteProyectoActividad', '@Url.Action("Editar_ProyectoActividades_Integrante", "Proyectos", new { id = "param-id" })');

            $(document).ready(function () {

                @*modalAdd('#btnAgregarIntegranteGrupoTrabajo', 'modal-agregaIntegranteGrupoTrabajo', '@Url.Action("Agregar_IntegranteMantGrupoTrabajo", "Mantenimiento")');
                modalEdit('.class_editar_IntegranteGrupoTrabajo', 'modal-editaIntegranteGrupoTrabajo', '@Url.Action("Editar_IntegranteMantGrupoTrabajo", "Mantenimiento", new { id  = "param-id"})');*@


                $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                    $(".alert").slideUp(500);
                });

                //$('#tablaIntegrantesGrupoTrabajo').DataTable({
                //    'paging': true,
                //    'lengthChange': true,
                //    'searching': true,
                //    'ordering': false,
                //    'info': true,
                //    'autoWidth': false
                //})
                $.noConflict();
                $('#tablaIntegrantesProyectoActividad').DataTable({
                    "language": {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "No Contiene registros",
                        "infoEmpty": "No hay registros disponibles",
                        "decimal": "",
                        "emptyTable": "No hay datos",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                        "infoFiltered": "(Filtro de _MAX_ total registros)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "  Mostrar _MENU_ registros",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron coincidencias",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Atras"
                        },
                        "aria": {
                            "sortAscending": ": Activar orden de columna ascendente",
                            "sortDescending": ": Activar orden de columna desendente"
                        },
                    },


                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': false,
                    'info': true,
                    'autoWidth': false
                })


            })

    </script>
}






