@using Quimipac_.Models
@model Quimipac_.Models.MT_Proyecto_ActividadEgreso
@{

    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var listaProyectoActividadesItems = ViewBag.listaProyectoActividadesItems as List<sp_Quimipac_ConsultaInsMt_ProyectoActividadEgreso_Result>;
    int idProyecto = ViewBag.idProyecto;
}

<title>Fronter | Items Proyecto Actividades</title>


<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">

@*@*BotonInf*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/cssImgInf/Iicono.css" />
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css" />
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/cssImgInf/Iicono.css" />

<!-- EstiloGeneral-->
<link rel="stylesheet" href="~/Content/bower_components/EstiloExterno/EstiloGral.css" />


<section class="content-header">
    @{

        int cadena = 0;
        <h2 style="text-align:left">


            @foreach (var itemGrupoTrabajo2 in listaProyectoActividadesItems)
            {
                if (cadena >= 0)
                {

                    <font id="itemTitulo"> @Html.DisplayFor(model => itemGrupoTrabajo2.DescripcionActividad)  </font>
                    break;
                }

                else
                {
                    @cadena;
                }

            }
            / Items
        </h2>
    }

    <ol class="breadcrumb">

        <li><a href="@Url.Action("Default", "Main")"><i class="fa fa-link"></i>Home</a></li>
        <li><a href="@Url.Action("Proyectos", "Proyectos")">Gestión de proyectos</a></li>
        <li><a href="@Url.Action("Actividades_Proyecto", "Proyectos", new { id = idProyecto })">Actividades</a></li>
        <li class="active">Items Actividad Proyectos</li>

    </ol>
    <br>

    <div class="row">
        <div class="col-md-2">
            <button id="btnAgregarItemsActividadesProyecto" type="button" class="Crear_MTPR btn btn-warning" data-toggle="modal" data-target="#modalAgregarItemsActividadesProyecto">
                <span class="fa fa-plus-circle"></span>&nbsp;&nbsp; Agregar Items
            </button>
        </div>
        <div class="vFlotante">
            @*hgroup style="display:inline-block;">*@
            <!--<img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="imgnotificacion">-->
            <table>
                <tr>
                    <td>
                        <input type="button" value="" class="btnInformacionBoton" id="botonimagen" data-toggle="modal" data-target="#modalNotificacion" title="click para informacion" />

                    </td>
                </tr>
            </table>

            @*</hgroup>*@
        </div>

    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["mensaje_error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["mensaje_error"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}

            @if (TempData["mensaje_correcto"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["mensaje_correcto"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}

            @if (TempData["mensaje_actualizado"] != null)
            {
                <div class="alert alert-warning">
                    <strong>@TempData["mensaje_actualizado"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>}
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default" id="BordeDiv">
                @*<div class="box-header">
                        <h3 class="box-title">Equipos Grupo de Trabajo</h3>
                    </div>*@
                <div class="box-body" id="CssDivBox">
                    @{
                        if (listaProyectoActividadesItems.Count != 0)
                        {
                            <div class="table-responsive">
                                <table id="tablaItemsProyectoActividades" class="js-dynamitable table table-bordered">
                                    @*class="table table-bordered table-hover"*@
                                    <thead>
                                        <tr>
                                            <th>Acci&oacute;n</th>
                                            <th>Actividad</th>
                                            <th>Items</th>
                                            <th>Unidad</th>
                                            <th>Cantidad</th>

                                        </tr>

                                        <tr>
                                            <th></th>
                                            
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Actividad"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Items"></th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Unidad"></th>
                                            <th><input class="js-filter form-control" type="number" value="" placeholder="Cantidad"></th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        @{int cntFila = 0; string estilo = string.Empty; }
                                        @foreach (var equipoproyectoactividad in listaProyectoActividadesItems)
                                        {
                                            if ((cntFila % 2) == 0)
                                            {
                                                estilo = "background-color:#f9f9f9";
                                            }
                                            else
                                            {
                                                estilo = "";
                                            }

                                            <tr style="@estilo">
                                                <td nowrap>
                                                    <button type="button" class="Modificar_MTPR btn btnEditarBoton class_editar_ProyectosActividadesItems" style="text-align:center" data-toggle="modal" data-target="#modalEditarproyectoactividadItems" data-id="@equipoproyectoactividad.ID_Proyecto_Actividad_Egreso">
                                                        @*<span aria-hidden="true" class="glyphicon glyphicon-edit">
                                                        </span>*@
                                                    </button>
                                                </td>
                                                <td nowrap>@Html.DisplayFor(model => equipoproyectoactividad.DescripcionActividad)</td>
                                                <td nowrap>@Html.DisplayFor(model => equipoproyectoactividad.Id_Item)</td>
                                                <td nowrap>@Html.DisplayFor(model => equipoproyectoactividad.Unidad)</td>
                                                <td nowrap>@Html.DisplayFor(model => equipoproyectoactividad.Cantidad)</td>

                                            </tr>
                                            cntFila++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                                            }

                    }

                </div>
            </div>
        </div>
    </div>
</section>


<div id="modalAgregarItemsActividadesProyecto" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"><font size="2"><span class="glyphicon glyphicon-plus"></span></font>&nbsp;Agregar Items de Actividad Proyecto &nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Este Formulario es para el Ingreso de Items" class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">

                <div id="modal-agregaActividadesProyectoItems">
                </div>
            </div>

        </div>
    </div>
</div>
<!--div notificacion de ayuda -->
<div id="modalNotificacion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title col-md-12">

                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="text-bold">Notificacion-Items Actividades Proyecto&nbsp;&nbsp; </h4>
                </div>

            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <h6>
                                <a href="#" title=" " class="tooltip_elemento center">
                                    <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png">
                                </a>
                            </h6>

                        </td>

                        <td>
                            <p><center> En esta Pagina se detallar&aacute; Los los Items de la Actividad del Proyecto</center></p>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
            </div>
        </div>

    </div>
</div>


<div id="modalEditarproyectoactividadItems" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <div class="modal-title">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"><font size="3"><span class="fa fa-edit"></span></font>&nbsp;Editar Items de Actividades Proyecto &nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Este Formulario le permitira Editar los campos que desee." class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div id="modal-editaActividadesProyectoItems">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>

    @*<script src="~/Content/bower_components/FiltroDataTable/MantTipoTrabajo/js/jquery-1.11.3.min.js"></script>*@

    <!--Filtro de tabla-->
    <script src="~/Content/bower_components/FiltroDataTable/MantTipoTrabajo/Dynamitablevq/dynamitable.jquery.min.js"></script>
    <script src="~/Scripts/Modales.js"></script>

    <script type="text/javascript">

        modalAdd('#btnAgregarItemsActividadesProyecto', 'modal-agregaActividadesProyectoItems', '@Url.Action("Agregar_ProyectoActividades_Items", "Proyectos")');
        modalEdit('.class_editar_ProyectosActividadesItems', 'modal-editaActividadesProyectoItems', '@Url.Action("Editar_ProyectoActividades_Items", "Proyectos", new { id = "param-id" })');

        $(document).ready(function () {

            modalAdd('#btnAgregarItemsActividadesProyecto', 'modal-agregaActividadesProyectoItems', '@Url.Action("Agregar_ProyectoActividades_Items", "Proyectos")');
            modalEdit('.class_editar_ProyectosActividadesItems', 'modal-editaActividadesProyectoItems', '@Url.Action("Editar_ProyectoActividades_Items", "Proyectos", new { id  = "param-id"})');


            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });
            $.noConflict();
            $('#tablaItemsProyectoActividades').DataTable({
                "language": {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "No Contiene registros",
                    "infoEmpty": "No hay registros disponibles",
                    "decimal": "",
                    "emptyTable": "No hay datos",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "infoFiltered": "(Filtro de _MAX_ total registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "  Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron coincidencias",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Atras"
                    },
                    "aria": {
                        "sortAscending": ": Activar orden de columna ascendente",
                        "sortDescending": ": Activar orden de columna desendente"
                    },
                },


                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': false,
                'info': true,
                'autoWidth': false
            });

            //$('#tablaEquiposGrupoTrabajo').DataTable({
            //    'paging': true,
            //    'lengthChange': true,
            //    'searching': true,
            //    'ordering': false,
            //    'info': true,
            //    'autoWidth': false
            //})
        });

    </script>
}






