@model Quimipac_.Models.MT_Contrato_Parametro

@{
    Layout = null;

    var listaTipo = ViewBag.listaTipo;

    var attributes = new Dictionary<string, object>
();
    attributes.Add("Id", "FormAgregarParametroContrato");
    attributes.Add("enctype", "multipart/form-data");
    attributes.Add("autocomplete", "off");


}

@using (Html.BeginForm("AgregarParametro_Contrato", "Contrato", FormMethod.Post, attributes))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">


        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

        </div>
        
        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Par&aacute;metro:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parametro, new { htmlAttributes = new { @class = "form-control is-valid", @type = "text", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Parametro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Descripci&oacute;n:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @type = "text", @rows = "2" })
            </div>
        </div>

        @*<div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Tipo Dato:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tipo_Dato, new { htmlAttributes = new { @class = "form-control is-valid", @type = "text", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Tipo_Dato, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label for="status" class="text-bold col-md-2 control-label">Tipo Dato:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tipo_Dato, (SelectList)listaTipo, new { @class = "form-control select2", @style = "width: 100%", @id = "cmb_tipo" })
                @Html.ValidationMessageFor(model => model.Tipo_Dato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="formVinumber">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Inicial:</label>
            <div class="col-md-10 divVI">
                    @Html.EditorFor(model => model.Valor_Inicial, new { htmlAttributes = new { @class = "form-control is-valid", @type = "number", @min = "0",  @id = "txtObligatorioVinumber", @name = "valornumericoi" } })
                    @Html.ValidationMessageFor(model => model.Valor_Inicial, "", new { @class = "text-danger" }) 
          </div>
        </div>

        <div class="form-group" id="formVfnumber">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Final:</label>
            <div class="col-md-10 divVF">
                @Html.EditorFor(model => model.Valor_Final, new { htmlAttributes = new { @class = "form-control is-valid", @type = "number", @min = "0",  @id = "txtObligatorioVfnumber", @name = "valornumericof" } })
                @Html.ValidationMessageFor(model => model.Valor_Final, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group" id="formVidecimal">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Inicial:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor_Inicial, new { htmlAttributes = new { @class = "", @type = "number", @min = "0", @step = "0.001",  @id = "txtObligatorioformVidecimal", @name = "valordecimali" } })
                @Html.ValidationMessageFor(model => model.Valor_Inicial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="formVfdecimal">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Final:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor_Final, new { htmlAttributes = new { @class = "", @type = "number", @min = "0", @step = "0.001",  @id = "txtObligatorioformVfdecimal", @name = "valordecimalf" } })
                @Html.ValidationMessageFor(model => model.Valor_Final, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="formVivarchar">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Inicial:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor_Inicial, new { htmlAttributes = new { @class = "", @type = "text",  @id = "txtObligatorioformVivarchar", @name = "valorvarchari" } })
                @Html.ValidationMessageFor(model => model.Valor_Inicial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="formVfvarchar">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Final:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor_Final, new { htmlAttributes = new { @class = "", @type = "text",  @id = "txtObligatorioformVfvarchar", @name = "valorvarcharf" } })
                @Html.ValidationMessageFor(model => model.Valor_Final, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="formVidatetime">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Inicial:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor_Inicial, new { htmlAttributes = new { @class = "", @type = "date",   @id = "txtObligatorioVidatetime", @name = "valordatetimei" } })
                @Html.ValidationMessageFor(model => model.Valor_Inicial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="formVfdatetime">
            <label for="recipient-name" class="col-md-2 control-label text-success">Valor Final:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor_Final, new { htmlAttributes = new { @class = "", @type = "date",   @id = "txtObligatorioVfdatetime", @name = "valordatetimef" } })
                @Html.ValidationMessageFor(model => model.Valor_Final, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Estado:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Estado, new SelectList(new List<string>() { "Activo", "Inactivo" }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" value="Crear" class="Crear_MTPR btn btn-warning" />
         </div>

             </div>
                        }

        @*COMBO FILTRABLE*@
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>


    <script src="~/Content/bower_components/moment/min/moment.min.js"></script>

    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/SweetAlert/sweet.js"></script>


    <!--VaLIDATOR txt-->
    <script src="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/js/bootstrapValidator.min.js"></script>
    <script src="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/js/es_ES.min.js"></script>


    <script type="text/javascript">



        start = new Date(moment().subtract(0, 'days'));
        end = new Date(moment());

        $('#datepickerOpenA').val(moment(start).format('DD/MM/YYYY'))
        $('#datepickerCloseA').val(moment(end).format('DD/MM/YYYY'))

        $('#datepickerOpenA').datepicker(
            {
                format: "dd/mm/yyyy",
                autoclose: true
            });

        $('#datepickerCloseA').datepicker(
            {
                format: "dd/mm/yyyy",
                autoclose: true
            });


        $(document).ready(function () {
            $('#formVinumber').css("display", "block");
            $('#formVfnumber').css("display", "block");
            $('#formVidecimal').css("display", "none");
            $('#formVfdecimal').css("display", "none");
            $('#formVivarchar').css("display", "none");
            $('#formVfvarchar').css("display", "none");
            $('#formVidatetime').css("display", "none");
            $('#formVfdatetime').css("display", "none");




            $('#cmb_tipo').change(function (e) {
                //alert($("#cmb_tipo option:selected").val());
                if ($("#cmb_tipo option:selected").val() == 147) {

                    //$('#formVinumber').css("display", "block");
                    //$('#formVfnumber').css("display", "block");
                    //$('#formVidecimal').css("display", "none");
                    //$('#formVfdecimal').css("display", "none");
                    //$('#formVivarchar').css("display", "none");
                    //$('#formVfvarchar').css("display", "none");
                    //$('#formVidatetime').css("display", "none");
                    //$('#formVfdatetime').css("display", "none");

                    $('.divVI').empty();
                    $('.divVF').empty();
                    $('.divVI').append("<input type = 'number' min = '0'  name = 'Valor_Inicial'  >");
                    $('.divVF').append("<input type = 'number' min = '0'  name = 'Valor_Final'  >");
                }
                else if ($("#cmb_tipo option:selected").val() == 148) {

                        //$('#formVinumber').css("display", "none");
                        //$('#formVfnumber').css("display", "none");
                        //$('#formVidecimal').css("display", "block");
                        //$('#formVfdecimal').css("display", "block");
                        //$('#formVivarchar').css("display", "none");
                        //$('#formVfvarchar').css("display", "none");
                        //$('#formVidatetime').css("display", "none");
                    //$('#formVfdatetime').css("display", "none");
                    $('.divVI').empty();
                    $('.divVF').empty();
                    $('.divVI').append("<input type = 'number' min = '0'  name = 'Valor_Inicial' step = '0.001' >");
                    $('.divVF').append("<input type = 'number' min = '0'  name = 'Valor_Final' step = '0.001' >");
                    }
                    else if ($("#cmb_tipo option:selected").val() == 149) {
                        //$('#formVinumber').css("display", "none");
                        //$('#formVfnumber').css("display", "none");
                        //$('#formVidecimal').css("display", "none");
                        //$('#formVfdecimal').css("display", "none");
                        //$('#formVivarchar').css("display", "block");
                        //$('#formVfvarchar').css("display", "block");
                        //$('#formVidatetime').css("display", "none");
                        //$('#formVfdatetime').css("display", "none");
                        $('.divVI').empty();
                        $('.divVF').empty();
                        $('.divVI').append("<input type = 'text'  name = 'Valor_Inicial'  >");
                        $('.divVF').append("<input type = 'text'  name = 'Valor_Final' >");
                    }

                    else {
                        //$('#formVinumber').css("display", "none");
                        //$('#formVfnumber').css("display", "none");
                        //$('#formVidecimal').css("display", "none");
                        //$('#formVfdecimal').css("display", "none");
                        //$('#formVivarchar').css("display", "none");
                        //$('#formVfvarchar').css("display", "none");
                        //$('#formVidatetime').css("display", "block");
                        //$('#formVfdatetime').css("display", "block");
                        $('.divVI').empty();
                        $('.divVF').empty();
                        $('.divVI').append("<input type = 'date'  name = 'Valor_Inicial'  >");
                        $('.divVF').append("<input type = 'date'  name = 'Valor_Final' >");

                    }

            });



        });




    </script>
