
@using Quimipac_.Models
@model Quimipac_.Models.MT_Fiscalizador
@{

    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var listaFiscalizadorC = ViewBag.listaFiscalizadorC as List<sp_Quimipac_ConsultaMT_ContratoFiscalizador_Result>;
    var contrato = ViewBag.contrato;
    Permisos_AccionUsuario oPermiso = ViewBag.MTPermiso_CONT;

}

    <title>Fronter |  Fiscalizador Contratos y Proyectos</title>


<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">

@*@*BotonInf*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/cssImgInf/Iicono.css" />
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css" />
<!-- EstiloGeneral-->
<link rel="stylesheet" href="~/Content/bower_components/EstiloExterno/EstiloGral.css" />
@*<style>
    body {
        overflow-x: hidden;
    }

    .vFlotante {
        position: absolute;
        left: 97%;
        top: 15%;
        width: 4500px;
        height: 400px;
        transition: all .4s ease-in;
        -webkit-transition: all .4s ease-in;
        -moz-transition: all .4s ease-in;
        -o-transition: all .4s ease-in;
    }

        .vFlotante:hover {
            left: 73%;
        }

    #imgnotificacion {
        width: 40px;
        height: 40px;
    }

    /*.titulo {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
    }*/
</style>*@


<section class="content-header">

   @{

       int cadena = 0;
       <h2 style="text-align:left">


           @*@foreach (var itemTipoTrabajo2 in listaFiscalizadorC)
        {
            if (cadena >= 0)
            {*@

           <font id="itemTitulo">   @Html.DisplayFor(model => contrato)</font>
           @*break;
        }

        else
        {
            @cadena;
            }

        }*@
           / Fiscalizador Contratos y Proyectos

       </h2>
}

    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Default", "Main")">
                <i class="fa fa-link">
                </i>Home
            </a>
        </li>
        <li>
            <a href="@Url.Action("Contrato", "Contrato")">Contratos y Proyectos</a>

        </li>
        <li class="breadcrumb-item active">Fiscalizador de Contratos y Proyectos</li>
    </ol>
    <br>


    <div class="row">
        <div class="col-md-2">
            @if (oPermiso.Crear == true)
            {
            <button id="btnAgregarFiscalizadorContrato" type="button" class="Crear_MTPR btn btn-warning" data-toggle="modal" data-target="#modalAgregarFiscalizadorContrato">
                <span class="fa fa-plus-circle"></span> Agregar Fiscalizador Contratos y Proyectos
            </button>
            }
            </div>
        <div class="vFlotante">
            @*hgroup style="display:inline-block;">*@
            <!--<img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="imgnotificacion">-->
            <table>
                <tr>
                    <td>
                        <input type="button" value="" class="btnInformacionBoton" id="botonimagen" data-toggle="modal" data-target="#modalNotificacion" title="click para informacion" />

                    </td>
                </tr>
            </table>

            @*</hgroup>*@
        </div>

    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["mensaje_error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["mensaje_error"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (TempData["mensaje_correcto"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["mensaje_correcto"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (TempData["mensaje_actualizado"] != null)
            {
                <div class="alert alert-warning">
                    <strong>@TempData["mensaje_actualizado"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

        </div>
    </div>


</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default" id="BordeDiv">
                @*<div class="box-header">
                        <h3 class="box-title">Formulario Contrato</h3>
                    </div>*@


                <div class="box-body" id="CssDivBox">

                    @{

                        if (listaFiscalizadorC.Count != 0)
                        {

                            <div class="table-responsive">
                                <table id="tablaFiscalizadorContrato" class="js-dynamitable table table-bordered  ">
                                    @*          table table-bordered table-hover  ">*@
                                    <thead>
                                        <tr>

                                            <th>Acci&oacute;n</th>
                                            <th>C&oacute;digo Contrato</th>                                            
                                            <th>Descripci&oacute;n Fiscalizador</th>
                                            <th>Estado</th>


                                        </tr>

                                        <tr>
                                            <th>
                                            </th>
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Codigo Contrato"></th>
                                           
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Fiscalizador"></th>                                            
                                            <th><input class="js-filter form-control" type="text" value="" placeholder="Estado"></th>


                                        </tr>
                                    </thead>
                                    <tbody>


                                        @{int cntFila = 0; }
                                        @foreach (var fiscalizadorC in listaFiscalizadorC)
                                        {
                                            if ((cntFila % 2) == 0)
                                            {
                                                <tr style="background-color:#f9f9f9">

                                                    <td>
                                                        @if (oPermiso.Modificar == true)
                                                        {
                                                            <button type="button" class="Modificar_MTPR btn btnEditarBoton class_editar_FiscalizadorContrato" title="Editar" style="text-align:center" data-toggle="modal" data-target="#modalEditarFiscalizadorContrato" data-id="@fiscalizadorC.Id_Fiscalizador">
                                                                @* <span aria-hidden="true" class="glyphicon glyphicon-edit"> </span>*@
                                                            </button>
                                                        }
                                                        @if (oPermiso.Eliminar == true)
                                                        {

                                                            <a href="@Url.Action("EliminarFiscalizadorContrato", "Contrato", new { id = fiscalizadorC.Id_Fiscalizador })" target="_self" class="Eliminar_MTPR btn btnEliminarBoton" style="text-align:center">
                                                                @*<span aria-hidden="true" class="glyphicon glyphicon-remove">
                </span>*@
                                                            </a>
                                                        }

                                                        </td>


                                                    <td>@Html.DisplayFor(model => fiscalizadorC.Codigo)</td>
                                                    
                                                    <td>@Html.DisplayFor(model => fiscalizadorC.Nombre)</td>
                                                    <td>@Html.DisplayFor(model => fiscalizadorC.Estado)</td>




                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>

                                                    <td>
                                                        @if (oPermiso.Modificar == true)
                                                        {
                                                            <button type="button" class="Modificar_MTPR btn btnEditarBoton class_editar_ParametroContrato" title="Editar" style="text-align:center" data-toggle="modal" data-target="#modalEditarParametroContrato" data-id="@fiscalizadorC.Id_Fiscalizador">
                                                                @* <span aria-hidden="true" class="glyphicon glyphicon-edit"> </span>*@
                                                            </button>
                                                        }
                                                        @if (oPermiso.Eliminar == true)
                                                        {
                                                            <a href="@Url.Action("EliminarFiscalizadorContrato", "Contrato", new { id = fiscalizadorC.Id_Fiscalizador })" target="_self" class="Eliminar_MTPR btn btnEliminarBoton" style="text-align:center">
                                                                @*<span aria-hidden="true" class="glyphicon glyphicon-remove">
                </span>*@
                                                            </a>
                                                        }
                                                        </td>


                                                    <td>@Html.DisplayFor(model => fiscalizadorC.Codigo)</td>
                                                    
                                                    <td>@Html.DisplayFor(model => fiscalizadorC.Nombre)</td>
                                                    <td>@Html.DisplayFor(model => fiscalizadorC.Estado)</td>




                                                </tr>
                                            }
                                            cntFila++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                                            }

                    }

                </div>
            </div>
        </div>
    </div>
</section>


<div id="modalAgregarFiscalizadorContrato" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"> <font size="2"><span class="glyphicon glyphicon-plus"></span></font>&nbsp;Agregar Fiscalizador Contratos y Proyectos&nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Formulario de ingreso, recuerde que lo campos resaltados de color verde son obligatorios [*]" class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">

                <div id="modal-agregaFiscalizadorContrato">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalEditarFiscalizadorContrato" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                @*<h5 class="modal-title">Editar Contrato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@

                <div class="modal-title">

                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <table>
                            <tr>
                                <td>
                                    <h4 class="text-bold"><font size="3"><span class="fa fa-edit"></span></font>&nbsp;Editar Fiscalizador Contratos y Proyectos&nbsp;&nbsp; </h4>
                                </td>

                                <td>
                                    <h6>
                                        <a href="#" title="Este Formulario le permitira Editar los campos que desee." class="tooltip_elemento center">
                                            <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png" id="purple">
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div id="modal-editaFiscalizadorContrato">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalNotificacion" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title col-md-12">

                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="text-bold">Notificacion-Fiscalizador Contratos y Proyectos</h4>
                </div>

            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <h6>
                                <a href="#" title=" " class="tooltip_elemento center">
                                    <img class="img-responsive" src="~/Content/bower_components/ImagenVQ/Info.png">
                                </a>
                            </h6>

                        </td>

                        <td>
                            <p><center> En esta Pagina se detallar&aacute; el Fiscalizador Contratos y Proyectos </center></p>

                        </td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cerrar</a>
            </div>
        </div>

    </div>
</div>

@section scripts {


    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>

    @*<script src="~/Content/bower_components/FiltroDataTable/MantTipoTrabajo/js/jquery-1.11.3.min.js"></script>*@

    <!--Filtro de tabla-->
    <script src="~/Content/bower_components/FiltroDataTable/MantTipoTrabajo/Dynamitablevq/dynamitable.jquery.min.js"></script>
    <script src="~/Scripts/Modales.js"></script>
    <script type="text/javascript">

        modalAdd('#btnAgregarFiscalizadorContrato', 'modal-agregaFiscalizadorContrato', '@Url.Action("AgregarFiscalizador_Contrato", "Contrato")');
        modalEdit('.class_editar_FiscalizadorContrato', 'modal-editaFiscalizadorContrato', '@Url.Action("EditarFiscalizador_Contrato", "Contrato", new { id = "param-id" })');

            $(document).ready(function () {


                $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                    $(".alert").slideUp(500);
                });

                $.noConflict();
                $('#tablaFiscalizadorContrato').DataTable({

                    "language": {
                        "lengthMenu": "Display _MENU_ records per page",
                        "zeroRecords": "No Contiene registros",
                        "infoEmpty": "No hay registros disponibles",
                        "decimal": "",
                        "emptyTable": "No hay datos",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                        "infoFiltered": "(Filtro de _MAX_ total registros)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "  Mostrar _MENU_ registros",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron coincidencias",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Atras"
                        },
                        "aria": {
                            "sortAscending": ": Activar orden de columna ascendente",
                            "sortDescending": ": Activar orden de columna desendente"
                        },
                    },


                    'paging': true,
                    'lengthChange': true,
                    'searching': true,
                    'ordering': false,
                    'info': true,
                    'autoWidth': true
                });

                //$('#tablaTiposTrabajo').DataTable({
                //    'paging': true,
                //    'lengthChange': true,
                //    'searching': true,
                //    'ordering': false,
                //    'info': true,
                //    'autoWidth': false
                //})
            });

                // Mostrar informacion de pagina
                var i = 2;
                function insertHtml() {
                    if (i % 2 == 0) { $("#htmlins").html("<h4>Estimado usuario</h4></hr><span>En esta pantalla administrara el proceso de mantenimiento de trabajo</span><br>") }
                    else {
                        $("#htmlins").html("")//remove();
                    }//.html("<span>este codigo html fue insertado</span>") }

                    i++;
                };
    </script>
}
