@model Quimipac_.Models.MT_OrdenTrabajo_Integrante

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    var listaGrupoTrabajo = ViewBag.listaGrupoTrabajo;
    int idMTOrdenTrabajo = ViewBag.idMTOrdenTrabajo;
    var orden_trabajo_cliente = ViewBag.ordentrabajocliente;

    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "FormAsignarOrdenTrabajoIntegrante");
    attributes.Add("autocomplete", "off");

}

<link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">
<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">

@*@*BotonInf*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/cssImgInf/Iicono.css" />
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css" />

<title>Fronter | Asignar Orden Trabajo Integrante</title>

<section class="content-header">
    @*<h2 style="text-align:left">
            Asignar Grupo Trabajo
        </h2>*@

    @{

        int cadena = 0;
    <h2 style="text-align:left">


        @*@foreach (var itemTipoTrabajo2 in listaActividades_OrdenTrabajo)
        {
            if (cadena >= 0)
            {*@
        <font id="itemTitulo">@Html.DisplayFor(model => orden_trabajo_cliente) </font>

        @*break;
            }

            else
            {
                @cadena;
            }

        }*@
        / Asignar Grupo Trabajo
    </h2>
    }

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Default", "Main")"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("OrdenTrabajo_Automatizacion", "OrdenTrabajo_Automatizacion")"><i class="fa fa-dashboard"></i>Orden Trabajo Automatizacion</a></li>
        <li><a href="@Url.Action("Editar_OrdenTrabajo", "OrdenTrabajo_Automatizacion", new { id = idMTOrdenTrabajo })"><i class="fa fa-dashboard"></i>Editar Orden Trabajo</a></li>
        <li class="active">Asignar Grupo Trabajo</li>

    </ol>


    <br>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["mensaje_error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>@TempData["mensaje_error"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @if (TempData["mensaje_actualizado"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["mensaje_actualizado"]</strong>
                    <button type="button" id="alert" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

        </div>
    </div>


</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">

                    <div class="col-md-12">
        @using (Html.BeginForm("Asignar_OrdenTrabajoIntegrante", "OrdenTrabajo_Automatizacion", new { @id = string.Empty }, FormMethod.Post, new { @id = "modal1" }))
        {
            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.HiddenFor(model => model.Id_Orden_Trabajo)

                            <div class="row">
                                <div class="col-md-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            @*@using (Html.BeginForm("Asignar_OrdenTrabajoIntegrante", "OrdenTrabajo_Automatizacion", new { @id = string.Empty }, FormMethod.Post, new { @id = "modal1" }))
        {
            @Html.AntiForgeryToken()
            <link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Id_Orden_Trabajo)
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>*@



                            <div class="form-group">
                                <label for="status" class="text-bold col-md-2 control-label">Grupo Trabajo:</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Id_GrupoTrabajo, (SelectList)listaGrupoTrabajo, new { @class = "form-control select2", @style = "width: 100%" })
                                    @Html.ValidationMessageFor(model => model.Id_GrupoTrabajo, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group" style="padding:5px">
                                <label for="status" class="text-bold col-md-2 control-label">Fecha Inicio:</label>
                                <div class="col-md-10" style="padding:5px">
                                    @Html.EditorFor(model => model.Fecha_Inicio, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datemask_edit2" } })
                                    @Html.ValidationMessageFor(model => model.Fecha_Inicio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" style="padding:5px">
                                <label for="status" class="text-bold col-md-2 control-label">Fecha Fin:</label>
                                <div class="col-md-10" style="padding:5px">
                                    @Html.EditorFor(model => model.Fecha_Fin, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datemask_edit3" } })
                                    @Html.ValidationMessageFor(model => model.Fecha_Fin, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Estado:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Estado, new List<SelectListItem>() { new SelectListItem() { Value = "A", Text = "Activo", Selected = true }, new SelectListItem() { Value = "I", Text = "Inactivo", Selected = true } }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>*@
                            <div class="form-group">
                                <label for="recipient-name" class="col-md-2 control-label">Estado:</label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Estado, new SelectList(new List<string>() { "Activo", "Inactivo" }), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-warning" />
                                </div>
                            </div>
                        </div>

        }
    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>

<script src="~/Content/jquery.timepicker.js"></script>
<script src="~/Content/datepair.js"></script>
<script src="~/Content/jquery.datepair.js"></script>


<script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>

<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>

<script src="~/Content/bower_components/FiltroDataTable/Notificaciones/js/v3.3.7/bootstrap.min.js"></script>

    <script type="text/javascript">

        $('.select2').select2({
            dropdownParent: $('#modal1')
        });

        $(document).ready(function () {

            //$('.select2').select2();

            //$('.select2').select2({
            //    dropdownParent: $('#modal1')
            //});

            $.noConflict();
            $('#datemask_edit').inputmask('datetime')
            $('#datemask_edit2').inputmask('datetime')
            $('#datemask_edit3').inputmask('datetime')
            


            $('[data-mask]').inputmask()


            

        })

        

    </script>

}
