@using Quimipac_.Repositorio;
@using Quimipac_.Repositorio;
@model Quimipac_.Models.MT_EntregaOrden_Trabajo

@{

    Layout = null;

    
    var listaClientes = ViewBag.listaClientes;
    string fecha_a = Convert.ToDateTime(Model.Fecha_Envio).ToString("MM/dd/yyyy");
    string fecha_c = Convert.ToDateTime(Model.Fecha_Recepcion).ToString("MM/dd/yyyy");

    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "FormEditarEntregaOrden");
    attributes.Add("autocomplete", "off");

    var idOET = Model.Id_Entrega_Orden_Trabajo;

}

<link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">
<link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

@*Pinta contorno txt Obligatorio*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css">
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/bootstrapValidator.min.css">


@using (Html.BeginForm("Editar_Entrega_OrdenTrabajo", "OrdenTrabajo_Automatizacion", new { @id = string.Empty }, FormMethod.Post, new { @id = "modal1" }))
{
    @Html.AntiForgeryToken()
    <link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id_Entrega_Orden_Trabajo)
        <div class="row">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label for="status" class="text-bold col-md-2 control-label">Cliente:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Cliente, (SelectList)listaClientes, new { @class = "form-control select2", @id = "comboCliente", @style = "width: 100%", @Disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Id_Cliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Comentario:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control", @type = "text", @rows = "5" ,@id="Comentario"})
            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label text-success">Recibido por:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Recibido_Por, new { htmlAttributes = new { @class = "form-control is-valid RecibidoX", @type = "text", @required = "required", @id = "txtObligatorio" } })
                @Html.ValidationMessageFor(model => model.Recibido_Por, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Fecha Envio:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_Envio, new { htmlAttributes = new { @class = "form-control is-valid", @id = "datepickerOpenA", @type = "text", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Fecha_Envio, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Fecha Recepcion:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_Recepcion, new { htmlAttributes = new { @class = "form-control is-valid", @id = "datepickerCloseA", @type = "text", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Fecha_Recepcion, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <label for="recipient-name" class="col-md-2 control-label">Seleccione Orden de Trabajo:</label>
            <div class="table-responsive col-md-4" style="padding:5px 15px 5px 15px">
                @* table table-bordered table-hover  ">     table id="tablaPreciosItems" border="1">*@
                <table border="1" style="font-size:10pt" class="table table-bordered" id="tablaMPR">
                    <thead id="theadOrden">

                        <tr>
                            <th>Check</th>
                            @*<th>Codigo Orden</th>*@
                        </tr>

                    </thead>
                    <tbody id="tbodyOrdenTrabajo">
                     @{
                        var dbe = new DataBase_Externo();
                        var IdOTE = Model.Id_Entrega_Orden_Trabajo;

                        var lk = dbe.Get_MT_OTE(Model.Id_Entrega_Orden_Trabajo, Model.Id_Cliente, "");
                        foreach (var item in lk)
                        {
                            /*if (item.Id_entrega_orden_trabajo != null)
                            {*/
                                // checkedOTE = "checked"; 
                                <tr id="@item.Id_OrdenTrabajo">
                                    <td nowrap><input type="checkbox" name="@item.Codigo_Cliente" value="@item.Id_OrdenTrabajo" id="@item.Id_OrdenTrabajo" class="check_OTE" checked />@item.Codigo_Cliente</td>
                               </tr>
                                 /* }
                                  else
                                  {
                                     <tr id="@item.Id_OrdenTrabajo">
                                          <td nowrap><input type="checkbox" name="" value="@item.Id_OrdenTrabajo" id="@item.Id_OrdenTrabajo" class="check_OTE" />@item.Codigo_Cliente</td>
                                     </tr>
                                  }*/

                        }

                      }


                        </tbody>
                    </table>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @* <input type="submit" value="Guardar" class="Crear_MTPR btn btn-warning" />*@
                <button type="button" id="btnGuardar" name="" class="btn btn-warning" title="Guardar Cambios" onclick="GuardarEOT(this)">Guardar</button>
            </div>
        </div>
    </div>

}


<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>


<script src="~/Content/bower_components/moment/min/moment.min.js"></script>

<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/SweetAlert/sweet.js"></script>


<!--VaLIDATOR txt-->
<script src="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/js/bootstrapValidator.min.js"></script>

<script type="text/javascript">


    start = new Date('@fecha_a');
    end = new Date('@fecha_c');

    $('#datepickerOpenA').val(moment(start).format('DD/MM/YYYY'));
    $('#datepickerCloseA').val(moment(end).format('DD/MM/YYYY'));

    $('#datepickerOpenA').datepicker(
        {
            format: "dd/mm/yyyy",
            autoclose: true
        });

    $('#datepickerCloseA').datepicker(
        {
            format: "dd/mm/yyyy",
            autoclose: true
        });

    $(document).ready(function () {
        $('.select2').select2({
            dropdownParent: $('#modal1')
        });
    });


    function GuardarEOT() {
        var Id_EntregaOrdenTrabajo = '@idOET';
       // alert(Id_Entrega_Orden_Trabajo);
        console.log(Id_EntregaOrdenTrabajo);
        var Id_Cliente = document.getElementById("comboCliente").value;
        var comentario = $('#Comentario').val();
        var RecibidoX = $('.RecibidoX').val();
        var FechaEnvio = $('#datepickerOpenA').val();
        var FechaRecep = $('#datepickerCloseA').val();



        var resultadoChecked = [];
        //console.log(Id_Entrega_Orden_Trabajo'Id_Cliente:' + Id_Cliente + 'comentario:' + comentario + ' RecibidoX:' + RecibidoX + ' FechaEnvio:' + FechaEnvio + ' FechaRecep:' + FechaRecep);
        $('.check_OTE:checked').each(function () {
            var Id_OrdenTrabajo = $(this).prop("id");
           // var Codigo_Cliente = $(this).val();
          //  var Codigo_Cliente = $(this).prop("name");


          // var fila = {
            // Id_OrdenTrabajo,
               // Codigo_Cliente
           //};
            resultadoChecked.push(Id_OrdenTrabajo);
        });
        console.log('Ckeched:');
        console.log(resultadoChecked);
        var resultadoCheckTotal = [];
        //console.log('Id_Cliente:' + Id_Cliente + 'comentario:' + comentario + ' RecibidoX:' + RecibidoX + ' FechaEnvio:' + FechaEnvio + ' FechaRecep:' + FechaRecep);
        $('.check_OTE').each(function () {
            var Id_OrdenTrabajoToT = $(this).prop("id");
          //  var Codigo_ClienteToT = $(this).prop("name");// $(this).val();
         //   var filaToT = {
           //   Id_OrdenTrabajoToT,
              //  Codigo_ClienteToT
            //};
            resultadoCheckTotal.push(Id_OrdenTrabajoToT);

        });
        console.log('Total:');
        console.log(resultadoCheckTotal);

        var url = '@Url.Action("Guardar_Editar_Entrega_OT", "OrdenTrabajo_Automatizacion", new { id ="param-id"})';
        url = url.replace("param-id", Id_EntregaOrdenTrabajo);
        //   alert(url);
       // alert('aqui0');
        ejecutaAjaxGuardarEditar(url, resultadoChecked, resultadoCheckTotal, Id_EntregaOrdenTrabajo, Id_Cliente, comentario, RecibidoX, FechaEnvio, FechaRecep);
           // idClienteCheck = $(this).prop("name");
//Id_Entrega_Orden_Trabajo,List<Temp_EditarEntregaOrden> lkEOT,int Id_Cliente, string comentario, string RecibidoX,DateTime FechaEnvio,DateTime FechaRecep
    }

    function ejecutaAjaxGuardarEditar(url, resultadoChecked, resultadoCheckTotal, Id_EntregaOrdenTrabajo, Id_Cliente, comentario, RecibidoX, FechaEnvio, FechaRecep) {
        //alert('aqui');
        //Id_Entrega_Orden_Trabajo, List < string > lkChecked, List < string > lkCheckTotal, int Id_Cliente, string comentario, string RecibidoX, DateTime FechaEnvio, DateTime FechaRecep
        var jsonObject = { Id_EntregaOrdenTrabajo: Id_EntregaOrdenTrabajo, resultadoChecked: resultadoChecked, resultadoCheckTotal: resultadoCheckTotal, Id_Cliente: Id_Cliente, comentario: comentario, RecibidoX: RecibidoX, FechaEnvio: FechaEnvio, FechaRecep: FechaRecep };
        console.log('Id_EntregaOrdenTrabajo:' + Id_EntregaOrdenTrabajo + ' Id_Cliente:' + Id_Cliente + 'comentario:' + comentario + ' RecibidoX:' + RecibidoX + ' FechaEnvio:' + FechaEnvio + ' FechaRecep:' + FechaRecep);
        
        $.ajax({
            type: 'POST',
            url: url,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsonObject),

            success: function (mensaje) {
                if (mensaje.indexOf('!') != -1) {
                   /* $("#DivDanger").css('display', 'block');
                    $("#CadenaDanger").html(mensaje);
                    $("#DivDanger").delay(4000).fadeOut(300);*/
                    console.log(mensaje); //alert(mensaje);
                } else {
                 /*   $("#DivSucess").css('display', 'block');
                    $("#CadenaSucess").html(mensaje);
                    $("#DivSucess").delay(2000).fadeOut(300);*/
                    console.log(mensaje); //alert(mensaje);
                    //location.reload();

                    var url = '@Url.Action("Entrega_OrdenTrabajo", "OrdenTrabajo_Automatizacion")';
                    window.location.href = url;
                }
            },
            error: function () {
                //$("#DivError").css('display', 'block');
                //$("#DivError").delay(1000).fadeOut(300);
            }

        });

    }
</script>