
@model Quimipac_.Models.MT_OrdenTrabajo_Equipo

@{
    Layout = null;

    var listaEquipo = ViewBag.listaEquipo;
    string fecha_a = Convert.ToDateTime(Model.Fecha_Inicio).ToString("MM/dd/yyyy");
    string fecha_c = Convert.ToDateTime(Model.Fecha_Fin).ToString("MM/dd/yyyy");

    var attributes = new Dictionary<string, object>();
    attributes.Add("Id", "FormEditarEquiposOrdenTrabajo");
    attributes.Add("autocomplete", "off");

    //string horaI_string = Convert.ToDateTime(Model.Tiempo_Estimado).ToString("HH:mm");
    //Model.Tiempo_Estimado = Convert.ToDateTime(horaI_string);



}
@*<link rel="stylesheet" href="~/Content/plugins/timepicker/bootstrap-timepicker.min.css">*@


<link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">
<link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">


@*Tamno imagen Info*@
<link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/contornoText.css">
@*Pinta contorno txt Obligatorio
    <link rel="stylesheet" href="~/Content/bower_components/FiltroDataTable/ValidaInputVQ/css/bootstrapValidator.min.css">
*@

@*@using (Html.BeginForm("Editar_Actividades_MantTipoTrabajo", "Mantenimiento", FormMethod.Post, attributes))*@
@using (Html.BeginForm("Editar_Equipos_OrdenTrabajo", "OrdenTrabajo_Automatizacion", new { @id = string.Empty }, FormMethod.Post, new { @id = "modal1" }))
{
    @Html.AntiForgeryToken()

    @*<link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.css">*@

<div class="form-horizontal">
    @Html.HiddenFor(model => model.Id_OrdenTrabajo_Equipo)

    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="recipient-name" class="col-md-2 control-label">Equipo:</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Id_Equipo, (SelectList)listaEquipo, htmlAttributes: new { @class = "form-control select2", @Disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Id_Equipo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="recipient-name" class="col-md-2 control-label">Fecha Inicio:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_Inicio, new { htmlAttributes = new { @class = "form-control is-valid", @id = "datepickerOpenE", @type = "text", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Fecha_Inicio, "", new { @class = "text-danger" })

        </div>

    </div>
    <div class="form-group">
        <label for="recipient-name" class="col-md-2 control-label">Fecha Fin:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_Fin, new { htmlAttributes = new { @class = "form-control is-valid", @id = "datepickerCloseE", @type = "text", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Fecha_Fin, "", new { @class = "text-danger" })

        </div>

    </div>

    <div class="form-group">
        <label for="recipient-name" class="col-md-2 control-label">Estado:</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Estado, new SelectList(new List<string>() { "Activo", "Inactivo" }), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="Crear_MTPR btn btn-warning" onclick="ValidaFecha(this)">Guardar</button>@**@
            <input type="submit" id="btnSubmitAgregarPrecioReferencial" hidden="hidden" />
        </div>
    </div>

</div>

}



@*<script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>*@
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/bower_components/moment/min/moment.min.js"></script>
<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/Content/SweetAlert/sweet.js"></script>



@*<script src="~/Content/datepair.js"></script>
<script src="~/Content/jquery.datepair.js"></script>*@

@*filtro combox*@
<script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>


<script type="text/javascript">


    start = new Date('@fecha_a');
    end = new Date('@fecha_c');

    $('#datepickerOpenE').val(moment(start).format('DD/MM/YYYY'));
    $('#datepickerCloseE').val(moment(end).format('DD/MM/YYYY'));

    $('#datepickerOpenE').datepicker(
        {
            format: "dd/mm/yyyy",
            autoclose: true
        });

    $('#datepickerCloseE').datepicker(
        {
            format: "dd/mm/yyyy",
            autoclose: true
        });
    
    function ValidaFecha(form) {
        var fecha_ap = $('#datepickerOpenE').val();
        var fecha_ci = $('#datepickerCloseE').val();

        var datearray1 = fecha_ap.split("/");
        var newdate_ap = datearray1[1] + '/' + datearray1[0] + '/' + datearray1[2];

        var datearray2 = fecha_ci.split("/");
        var newdate_ci = datearray2[1] + '/' + datearray2[0] + '/' + datearray2[2];

        var primera = Date.parse(newdate_ap);
        var segunda = Date.parse(newdate_ci);
        if (segunda < primera) {
            swal('', 'Fecha fin debe ser mayor que fecha inicio', 'error');
        }
        else {
            var obj = document.getElementById("btnSubmitAgregarPrecioReferencial");

            if (obj) {
                obj.click();
            }
        }
    }


    $('#comboObligatorioEditar').change(function (e) {

        if ($(this).val() == "S") {

            $('#pesoEditar').prop("hidden", false);
        }
        else {
            $('#pesoEditar').prop("hidden", true);
        }

    })

    $(document).ready(function () {


        //$('#datepairExample .time').timepicker({
        //    'showDuration': true,
        //    'timeFormat': 'H:i',
        //    minTime: '00:15:00',
        //    maxTime: '23:59:59',
        //    interval: 15,
        //    step: 15
        //});

       // $('#datepairExample').datepair();

        $('.select2').select2({
            dropdownParent: $('#modal1')
        });

    });





</script>
